{% extends 'base.html' %}


{% block content %}
<article>
    <section class="section recent" aria-label="recent post">
        <div class="container-form">
            <h3>Registration Form</h3>

            <form method="post" action="." class="form">
                {% csrf_token %}
                <div class="input-box">
                    <label>Name</label>
                    <input type="text" autocomplete="username" maxlength="50" id="id_username" autofocus="" name="username" placeholder="Enter your name" required/>
                </div>
                <div class="input-box">
                    <label>Email Address</label>
                    <input type="email" name="email" id="id_email" placeholder="Enter your email" required/>
                </div>
                <div class="column">
                <div class="input-box">
                    <label>Password</label>
                    <input type="password" name="password1" id="id_password1" placeholder="Enter password" required/>
                </div>
                <div class="input-box">
                    <label>Password2</label>
                    <input type="password" name="password2" id="id_password2" placeholder="Enter password2" required/>
                </div>
                </div>
            <button>Submit</button>
            </form>
            </div>
    </section>
</article>
{% endblock %}
