{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<article>
    <section class="section recent" aria-label="recent post">
        <div class="container">

            <div class="title-wrapper">

                <h2 class="h2 section-title">
                    {% trans 'See what we’ve' %}
                </h2>

            </div>
            {% if posts %}
            {% include 'main/post.html' %}
            {% else %}
            <p>{% trans 'Ничего не найдено!' %} </p>
            {% endif %}

        </div>
    </section>
</article>
{% endblock %}