{% extends 'base.html' %}
{% load static i18n newsletter_tags %}
{% block content %}
<article>

    <!--
      - #HERO
    -->

    <section class="section hero" aria-label="home">
        <div class="container">

            <h1 class="h1 hero-title">
                <strong class="strong">{% trans 'Hey, we’re Blogy.' %}</strong>{% trans 'See our thoughts, stories and ideas.' %}
            </h1>

            <div class="wrapper">

                {% newsletter_form %}
            </div>

        </div>
    </section>


    <!--
      - #RECENT POST
    -->

    <section class="section recent" aria-label="recent post">
        <div class="container">

            <div class="title-wrapper">

                <h2 class="h2 section-title">
                   {% trans 'See what we’ve' %}  <strong class="strong">{% trans 'written lately' %}</strong>
                </h2>


            </div>

            {% include 'main/post.html' %}

            <button class="btn"><a href="{% url 'post_list' %}">{% trans 'Посмотреть все' %}</a></button>

        </div>
    </section>

    <!--
      - #RECOMMENDED POST
    -->

    <section class="section recommended" aria-label="recommended post">
        <div class="container">

            <p class="section-subtitle">
                <strong class="strong">{% trans 'Рекомендуемое' %}</strong>
            </p>

            <ul class="grid-list">
                {% for item in recomended %}
                <li>
                    <div class="blog-card">

                        <figure class="card-banner img-holder" style="--width: 300; --height: 360;">
                            <img src="{{ item.image.url }}" width="300" height="360" loading="lazy"
                                alt="The trick to getting more done is to have the freedom to roam around "
                                class="img-cover">

                            <ul class="avatar-list absolute">

                                <li class="avatar-item">
                                    <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                                        <img src="./assets/images/author-2.jpg" width="100" height="100" loading="lazy"
                                            alt="Author" class="img-cover">
                                    </a>
                                </li>

                            </ul>
                        </figure>

                        <div class="card-content">

                            <h3 class="h5">
                                <a href="{{item.get_absolute_url}}" class="card-title hover:underline">
                                    {{item.title}}
                                </a>
                            </h3>

                        </div>

                    </div>
                </li>
                {% endfor %}

            </ul>

        </div>
    </section>
    <!--
      - #NEWSLETTER
    -->

    <section class="section newsletter">

        <h2 class="h2 section-title">
            {% trans 'Подпишитесь на' %} <strong class="strong">{% trans 'обновления' %}</strong>
        </h2>

        {% newsletter_form %}

    </section>

</article>
{% endblock %}